__pycache__/app.cpython-38.pyc
.vscode/launch.json
.vscode/settings.json
TripAdvisorServer/.vscode/launch.json
TripAdvisorServer/.vscode/settings.json
ClientWebApp/.vscode/settings.json
ClientWebApp/.vscode/launch.json
ClientWebApp/__pycache__/app.cpython-38.pyc
AirlinesRequestHandler/.vscode/settings.json
AirlinesRequestHandler/.vscode/launch.json
