<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</header>

<body>
    <div class="container m-5 col-6 bg-light">
        <label for="basic-url">Book your trip: </label>
        <div class="row align-self-center input-group col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Starting Date</span>
                </div>
                <input type="text" class="form-control" placeholder="01/01/2019""01/01/2019 aria-label=" starting date"
                    aria-describedby="basic-addon1" id="starting_date_picker" required>
                <div class="invalid-feedback" id="check_starting_date_picker">
                    Please provide a valid starting date.
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Return Date</span>
                </div>
                <input type="text" class="form-control" placeholder="01/01/2019" aria-label="returning date"
                    aria-describedby="basic-addon1" id="return_date_picker">
                <div class="invalid-feedback" id="check_return_date_picker">
                    Please provide a valid return date.
                </div>
            </div>
            <div class="btn-group mb-3 row col">
                <div>
                    <button type="button" class="btn btn-secondary dropdown-toggle mr-3" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" id="select-hotel-button">
                        Preferred hotel
                    </button>
                    <button class="dropdown-menu" id="select-hotel">
                        {%for hotel in hotel_names%}
                        <a class="dropdown-item" href="#">{{hotel}}</a>
                        {%endfor%}
                    </button>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary dropdown-toggle mr-3" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" id="select-airline-button">
                        Preferred airline
                    </button>
                    <button class="dropdown-menu" id="select-airline">
                        {%for airline in airline_names%}
                        <a class="dropdown-item" href="#">{{airline}}</a>
                        {%endfor%}
                    </button>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="input-group col-md-6 col-lg-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">People </span>
                </div>
                <input type="text" class="form-control" id="people_cnt" aria-label="How many people will travel?"
                    value="1">
                <div class="input-group-append">
                    <button id="inc_people" class="btn btn-info" type="button">+</button>
                    <button id="dec_people" class="btn btn-danger" type="button">-</button>
                </div>
            </div>
        </div>
        <button id="search_travel" type="button" class="btn btn-outline-primary font-weight-bold col-4">Search</button>




        <div id="accept_reject_modal_single" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content ">
                    <div class="modal-header">
                        <h4 class="modal-title">Success! You can book for this dates.</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>You can always reject and search for another dates.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="reject_offer_single" class="btn btn-danger"
                            data-dismiss="modal">Reject</button>
                        <button type="button" id="accept_offer_single" class="btn btn-success"
                            data-dismiss="modal">Accept</button>
                    </div>
                </div>

            </div>
        </div>


        <div id="accept_reject_modal_alternative" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content ">
                    <div class="modal-header">
                        <h4 class="modal-title">Not so lucky! You can try this alternative bookings.</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>You can always reject and search for another dates.</p>

                        <div class="container-fluid">
                            <div class="row">

                                <div>
                                    <button type="button" class="btn btn-secondary dropdown-toggle mr-3"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        id="select-alternative-airline-button">
                                        Select airline
                                    </button>
                                    <button class="dropdown-menu" id="select-alternative-airline">

                                        <a href=""></a>
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-secondary dropdown-toggle mr-3"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        id="select-alternative-hotel-button">
                                        Select hotel
                                    </button>
                                    <button class="dropdown-menu" id="select-alternative-hotel">
                                        <a href=""></a>
                                    </button>
                                </div>


                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" id="reject_offer_alternative" class="btn btn-danger"
                            data-dismiss="modal">Reject</button>
                        <button type="button" id="accept_offer_alternative" class="btn btn-success"
                            data-dismiss="modal">Accept</button>
                    </div>
                </div>

            </div>
        </div>




        {% if socket_error %}
        <div class="row">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-7">Error: </h1>
                    <p class="lead">{{ socket_error }}</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>


    <div class="container">
        <div class="row">
            <div class="col-7">
            </div>
            <div class="col">
                <div class="m-5 alert alert-dismissible fade" id="info-alert" role="alert">
                    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>